<div class="container container-reviews">
    <h2 class="heading center">{{ page.title }}</h2>   
    {% render 'okendo-reviews-widget', product: product %}
</div>



{% style %}
    .container-reviews {
        margin-top: 180px;
    }

    div.okeReviews[data-oke-container].oke-w {
        max-width: min(81%, 1200px);
    }

    div.okeReviews[data-oke-container].oke-w
    .oke-w-header-content-block:nth-child(2) {
        display: none;
        background-color: green;
    }
{% endstyle %}